body {
    background: var(--dark300, #252525);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
}

#menu {
    position: fixed;
    top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
    background: var(--dark200, #202020);
    padding: 1.4rem 2.4rem;
    border-radius: 40px;
    box-shadow: inset 0 -4px 6px rgba(0, 0, 0, .5), inset 0 4px 6px rgba(255, 255, 255, .08), 0 8px 16px rgba(0, 0, 0, .4), 0 2px 4px rgba(0, 0, 0, .75);

    & .button-link {
        background: none;
        cursor: pointer;

        & .iconify {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2.8rem;
            color: var(--dark400, #353535);
        }

        & .iconify:hover {
            filter: brightness(1.5);
        }

        & .iconify:active {
            color: var(--first-color, #B9907A);
        }

        & .active {
            color: var(--first-color, #B9907A);
        }
    }
}

/* COLORS FOR BACKGROUND */
.blue900 {
    background: var(--blue900, #C6D2D8);
}

.blue800 {
    background: var(--blue800, #AABCC6);
}

.blue700 {
    background: var(--blue700, #839EAB);
}

.blue600 {
    background: var(--blue600, #6B8B9B);
}

.blue500 {
    background: var(--blue500, #466E82);
}

.blue400 {
    background: var(--blue400, #406476);
}

.blue300 {
    background: var(--blue300, #324E5C);
}

.blue200 {
    background: var(--blue200, #273D48);
}

.blue100 {
    background: var(--blue100, #1D2E37);
}

/* BUTTONS FOR MODAL */
.showDialog {
    background: var(--dark200, #202020);
    height: 4.8rem;
    padding: 0 2.4rem;
    border-radius: 40px;
    box-shadow: inset 0 -4px 8px rgba(0, 0, 0, .4), inset 0 4px 8px rgba(255, 255, 255, .05), 0 4px 10px rgba(0, 0, 0, .3), 0 2px 4px rgba(0, 0, 0, .5);
    color: var(--dark400, #353535);
    font-size: 1.4rem;
    font-weight: 500;
    transition: .1s ease-in-out;
}

.showDialog:active {
    color: var(--first-color, #B9907A);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, .4), 0 4px 10px rgba(0, 0, 0, .3), 0 2px 4px rgba(0, 0, 0, .5);
}

/* MODAL STYLE */
.modal-backdrop,
.modal {
    opacity: 1;
    transition: .5s;
    pointer-events: all;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 64rem;
    max-width: 80%;
    height: 48rem;
    max-height: 80%;
    transform: translate(-50%, -50%);
    background: var(--dark300, #252525);
    border: 8px solid var(--dark400, #303030);
    border-radius: 16px;
    box-shadow: 0 0 16px rgba(0, 0, 0, .5);
    padding: 1.6rem;
    z-index: 10;
    overflow: hidden;

    & button {
        position: relative;
        left: 100%;
        transform: translate(-100%);
        background: none;
        border: none;
        z-index: 15;
        margin-bottom: .8rem;

        & .iconify {
            font-size: 3.2rem;
            color: var(--close);
        }
    }

    & .modal-code {
        margin-bottom: 50rem;
        font-family: 'Space Mono', monospace;
        font-size: 1.6rem;
        text-align: justify;
        color: var(--dark600);
        height: 100%;
        overflow-y: auto;
    }
}

.hide {
    opacity: 0;
    pointer-events: none;
    top: 0;
}

/* SECTIONS */
#docs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    margin: 6rem 0 0;

    & h2 {
        font-family: 'Ubuntu', sans-serif;
        font-size: 3.2rem;
        font-weight: 500;
        color: var(--first-color, #B9907A);
    }

    & .main-text {
        display: grid;
        grid-template-rows: repeat(4, auto);
        gap: 1.6rem;

        & p {
            background: var(--dark200, #202020);
            padding: 2.4rem;
            border-radius: 16px;
            font-family: 'Ubuntu', sans-serif;
            font-size: 1.8rem;
            color: var(--second-color, #e5e7f5);
            font-weight: 300;
            line-height: 2.8rem;
        }

        & span {
            font-family: 'Ubuntu Mono', monospace;
            color: var(--first-color, #B9907A);
            background: var(--dark100, #151515);
            padding: .4rem .6rem;
            border-radius: 4px;
        }
    }
}

#grid {
    display: none;
    align-items: center;
    gap: 6.4rem;
    margin: 6rem 0 0;

    & #gridSquare {
        width: 40rem;
        height: 40rem;
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
        grid-gap: 1.6rem;

        & .square {
            border-radius: 5px;
            box-shadow: inset 0 -4px 8px rgba(0, 0, 0, .5), inset 0 4px 8px rgba(255, 255, 255, .08), 0 6px 12px rgba(0, 0, 0, .3);
        }
    }

    & .code-view {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        animation: fadeInRight;
        animation-duration: 2s;

        & .checkbox-grid {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.6rem;

            & p {
                font-family: 'Ubuntu', sans-serif;
                font-size: 1.4rem;
                color: var(--first-color, #B9907A);
                text-align: center;
                line-height: 1.8rem;
            }

            & input[type="checkbox"] {
                width: 48px;
                height: 96px;
                appearance: none;
                position: relative;
                background: var(--dark200, #4b1919);
                border-radius: 50px;
                box-shadow: inset 0 0 8px rgba(0, 0, 0, .25);
                cursor: pointer;
                transition: .3s ease-in-out;
            }

            & input:checked[type="checkbox"] {
                background: var(--blue600, #6b8b9b);
                box-shadow: inset 0 0 8px rgba(0, 0, 0, .75);
            }

            & input[type="checkbox"]:before {
                content: '';
                width: 32px;
                height: 32px;
                background: var(--grey500, #454545);
                box-shadow: inset 0 -2px 4px rgba(0, 0, 0, .5), inset 0 2px 4px rgba(255, 255, 255, .15);
                border-radius: 50%;
                position: absolute;
                top: 8px;
                left: 8px;
                transition: .3s ease-in-out;
            }

            & input:checked[type="checkbox"]:before {
                background: var(--dark200, #202020);
                box-shadow: inset 0 -2px 4px rgba(0, 0, 0, .75), inset 0 2px 4px rgba(255, 255, 255, .25);
                top: 56px;
            }
        }
    }
}

#area {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 6rem 0 0;
    gap: 3.2rem;

    & #gridarea {
        display: grid;
        grid-template: repeat(3, 1fr)/repeat(5, 1fr);
        grid-gap: 2.4rem;
        width: 72.4rem;
        height: 42.2rem;
        margin: 5.6rem 0 0;

        & .squarearea {
            border-radius: 1.2rem;
            box-shadow: inset 0 -4px 8px rgba(0, 0, 0, .5), inset 0 4px 10px rgba(255, 255, 255, .1), 0 0 16px rgba(0, 0, 0, .3);
        }

        & :nth-child(1) {
            grid-area: 1/1/3/3;
        }

        & :nth-child(2) {
            grid-area: 3/1/4/3;
        }

        & :nth-child(3) {
            grid-area: 1/3/1/6;
        }

        & :nth-child(4) {
            grid-area: 2/3/4/5;
        }

        & :nth-child(5) {
            grid-area: 2/5/2/5;
        }

        & :nth-child(6) {
            grid-area: 3/5/3/5;
        }
    }
}

#template {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;

    & #grid-temp {
        display: grid;
        width: 720px;
        height: auto;
        margin-top: 6rem;
        grid:
            "header header header header header" 100px
            "left center center center right" 250px
            "footer footer footer footer footer" 100px;
        grid-gap: 1.6rem;

        & .temp-square {
            border-radius: 1.2rem;
            box-shadow: inset 0 -4px 8px rgba(0, 0, 0, .5), inset 0 4px 10px rgba(255, 255, 255, .1), 0 0 16px rgba(0, 0, 0, .3);
        }

        & :nth-child(1) {
            background-color: var(--blue600);
            grid-area: header;
        }
    
        & :nth-child(2) {
            background-color: var(--blue400);
            grid-area: left;
        }
    
        & :nth-child(3) {
            background-color: var(--blue300);
            grid-area: center;
        }
    
        & :nth-child(4) {
            background-color: var(--blue200);
            grid-area: right;
        }
        
        & :nth-child(5) {
            background-color: var(--blue100);
            grid-area: footer;
        }
    }
}

/* ANIMATIONS */
.zoomIn {
    animation-name: zoomIn;
    animation-duration: 2s;
}
.fadeInUp {
    animation-name: fadeInUp;
    animation-duration: 2s;
}
.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 2s;
}
.fadeInRight {
    animation-name: fadeInRight;
    animation-duration: 2s;
}
.fadeInLeft {
    animation-name: fadeInLeft;
    animation-duration: 2s;
}

.showSection {
    display: flex;
}

.hideSection {
    display: none;
}