body {
    width: 100%;
    height: 100vh;
    background: var(--dark300, #252525);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--first-color, #b9907a);
    gap: 2.4rem;
    
    & #title-index {
        font-family: 'Rubik', sans-serif;
        font-size: 2.4rem;
        text-transform: uppercase;
        font-weight: 500;
    }
    
    & #grid-index {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        gap: 3.2rem;
        
        & p {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20rem;
            height: 20rem;
            background-color: var(--dark200, #202020);
            font-family: 'MuseoModerno', cursive;
            color: var(--first-color);
            font-size: 3.2rem;
            font-weight: 500;
            border-radius: 1.6rem;
            box-shadow: inset 0 -4px 8px rgba(0, 0, 0, .5), inset 0 4px 8px rgba(255, 255, 255, .05), 0 0 16px 1px rgba(0, 0, 0, .4);
            animation: zoomIn;
            animation-duration: 3s;
        }
    }
}

#start button {
    background: var(--dark400, #353535);
    padding: 1.6rem 4rem;
    color: var(--second-color, #e5e7f5);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--first-color, #b9907a);
    border-radius: 4rem;
    box-shadow: 0 4px 2px rgba(0, 0, 0, .4), 0 8px 12px rgba(0, 0, 0, .25), inset 0 2px 4px rgba(255, 255, 255, .08), inset 0 -2px 4px rgba(0, 0, 0, .4);
    cursor: pointer;
}

#start button:hover {
    filter: brightness(1.1);
}

#start button:active {
    filter: brightness(0.85);
}